$thumbnail-background: #E6E5EF;


$main-colors-primary: #B43FEB;
$main-colors-background: #0D0C0F;

$error: #EB3F5E;

$additional-colors-dark-smooth: #1A161F;
$additional-colors-line: #29282F;


$grayscale-10: rgb(255, 255, 255);
$grayscale-70: #78828A;
$grayscale-100: #171725

