$thumbnail-background:#E6E5EF;





$main-colors-primary:#B43FEB;
$main-colors-background:#0D0C0F;

$additional-colors-dark-smooth:#1A161F;
$additional-colors-line:#29282F;


$grayscale-10:#F9F9F9;
$grayscale-70:#78828A