@use '../../../../assets/sass/abstracts/variables';

.banner-container {
  position: relative;

}

.banner, .banner-container {
  width: 756px;
  height: 366px;
  border-radius: 24px;
  margin-bottom: 2rem /* 32/16 */
;
}


.banner-slide {
  &__backdrop-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    position: absolute;
    color: variables.$grayscale-10;
    z-index: 2000;
    left: 40px;
    top: 111px;

    &__title {
      font-size: 32px;
      font-weight: 700;
      margin-top: 12px;
    }

    &__genres {
      display: flex;

      &__genre {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
        border-radius: 16px;
        //background: rgba(253, 253, 253, 0.5);
        background: rgba(variables.$grayscale-10, 0.08);
        //margin-right: 40px;
        height: 36px;
        padding: 10px;
      }
    }

    &__additional {
      display: flex;
      margin-top: 16px;

      &__rating {
        margin-right: 10px;
      }
    }

    &__buttons {

      display: flex;
      align-items: center;
      margin-top: 32px;

      &__watch-trailer {
        display: flex;
        border: none;
        margin-right: 32px;
        padding: 16px 24px 16px 24px;
        border-radius: 24px;
        background-color: variables.$main-colors-primary;
        color: inherit;

        &:hover {
          cursor: pointer;
        }

        &__image {
          margin-right: 8px;
        }
      }

      &__add-watchlist {
        display: flex;
        align-items: center;
        border: none;
        color: inherit;
        background-color: transparent;

        &:hover {
          cursor: pointer;
        }

        &__image {
          margin-right: 12px;
        }
      }

    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::before {
    background-image: linear-gradient(270deg, rgba(13, 12, 15, 0) 16.73%, #0D0C0F 100%);
    z-index: 2;
  }

  &::after {
    background-color: rgba(0, 0, 0, 0.4); /* Цвет затемнения */
    z-index: 3;
  }
}


.navigation-buttons {
  z-index: 200;
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 52px;
  border: none;
  background: rgba(249, 249, 249, 0.16);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.right {
  top: 43%;
  right: -25px;
}

.left {
  top: 43%;
  left: -25px;
}

