@use '../abstracts/variables';
body {
  margin: 1rem /* 16/16 */;
  font-size: 1rem  /* 16/16 */;
  color: variables.$grayscale-70;
  font-family: 'Satoshi', sans-serif;
  padding-left: 18.5rem;  /* 264/16 */
  padding-top: 5.5rem  /* 88/16 */;
  background-color: variables.$main-colors-background;
}

h6{
  font-size: 24px;
  font-weight: 700;
  color: variables.$grayscale-10;
  margin-bottom: 24px;
}